.center-footer{
    display: flex;
    justify-content: center;
}

.footer-logo{
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: auto;
}

.footer-logo:hover{
    opacity: 0.3;
}