.header-container{
    display: flex;
    justify-content: space-between;
    background-color: purple;
}

.hailey-title{
    color: white;
}


/*NAVBAR-STYLING*/
.navbar-container{
    
}
.navbar-style{
    list-style-type: none;
    display: flex;
}
.navbar-style > *{

}
.navbar-style > * > *{
    color: white;
    text-decoration: none;
}
.navbar-style > * > *:hover{
    color: gray;
}

