.header-container{
    display: flex;
    justify-content: space-between;
    background-color: darkorchid;
}

.hailey-title{
    color: white;
    padding: 10px;
}

/*NAVBAR-STYLING*/
.navbar-style{
    list-style-type: none;
    display: flex;
}
.navbar-style > *{
    color: white;
    padding: 10px;
}
.navbar-style > *:hover{
    color: fuchsia;
}
.navbar-style > * > *{
    text-decoration: none;
}

.nav-link-active{
    color: plum;
}

.nav-link{
    color: white;
}

.nav-link-active:hover, .nav-link:hover{
    color: fuchsia;
    font-weight: bold;
}






